build/*
install/*
test/*
LocalRuns/**
config/**
!config/config.default
!config/config.root
**/Skim*.json
external/RoccoR/**
external/KinematicFitter/**
external/lhapdf/**
external/libtorch/**
*.onnx
**/__pycache__/**
.DS_Store
Run*NanoAOD*
logs/**

#Temporary Added to my personal temp files
SKFlatAnalyzer/**
DataCOPY/** 
MCCOPY/**
.vscode/**
.cursor/**
